<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ajdt.launching.AspectJApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hotel.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="L7_T2"/>
</launchConfiguration>
