<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton"
        type="MathLibrary.SimpleMath, MathLibrary"
        objectUri="MyURI.soap" />
      </service>
      <channels>
        <channel port="10000" ref = "http"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>