<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChatClient.Properties.Settings>
            <setting name="ChatClient_ChatWS_ChatManagerWS" serializeAs="String">
                <value>http://localhost:1855/chatwebservice.asmx</value>
            </setting>
        </ChatClient.Properties.Settings>
    </applicationSettings>
</configuration>